/* 1 */
body {
  width: 120px;
  margin: 0 auto;
  font-family: "sans-serif";
}
p {
  text-indent: 1em;
}

/* 2 */
h1 h2 h3 {
  text-align: center;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.2rem;
}

/* 3 */
.summary {
  text-align: right;
}
main p {
  line-height: 1.5;
}

/* 4 */
abbr {
  font-variant: small-caps;
}
